:root {
    --firstColor: #083c01;
    --secondColor: #516751;
    --thirdColor: #4b932a;
    --fourthColor: #ffffff;
    --fifthColor: #000000;
    --sixthColor: #70d900;
    --seventhColor: #ff2c00;
  }