:root {
    --firstColor: #0353a4;
    --secondColor: #5a189a;
    --thirdColor: #f48c06;
    --fourthColor: #ffffff;
    --fifthColor: #ffffff;
    --sixthColor: #70d900;
    --seventhColor: #ff2c00;
  }